.maxyslider {
  background-color: #00C873;
  padding: 125px;
}

.contactForm {
  background-color: #323b46;
  color: #fff;
  padding: 25px;
  display: flex;
  justify-content: center;
}

.contactForm form {
  width: 100%;
}
@media (min-width: 500px) {
  .contactForm form {
    width: 500px;
  }
  .contactForm  {
    padding: 125px;
    }
}

.contactForm input, .contactForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: none;
  font-size: 16px;
  color: #a0a8b1;
  border-bottom: 1px solid #a0a8b1;
}

.contactForm label {
  width: 100%;
}
.contactForm .button {
  color: #fff;
}
.slidecontainer {
  display: flex;
  width: 84%;
}

.flexContainer {
  display: flex;
  margin-bottom: 63px;
  justify-content: space-around;
}

.flexOneThird {
  display: flex;
  flex: 0 42%;
  /* border: 1px solid #fff; */
  padding: 27px;
  box-sizing: border-box;
  color: #fff;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.maxyslider h2 {
  color:#fff!important;
}

.maxyslider #smallSpent {
  opacity:1;
  font-size: 30px;
}

.attentionated {
  background-color: #fff;
  color: #00C873;
}

.attentionated h2 {
  color: #00C873!important;
}

.maxyslider #hugeGain {
  opacity:1;
  font-size: 30px;
}

.maxyslider .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 1;
}

.maxyslider .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #fff;
  cursor: pointer;
}

.maxyslider .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.tp-bgimg {
  background-color: rgb(255, 255, 255)!important;
  background-repeat: no-repeat!important;
  background-image: url("../content/robotics/images/002.png")!important;
  background-size: cover!important;
  background-position: center center!important;
  width: 100%!important;
  height: 100%!important;
  opacity: 1!important;
  visibility: inherit!important;
  z-index: 20!important;
  background-size: 80%!important;
  background-position: top right!important;
  color: #00C873!important;
}

.top_bar_left.clearfix, .container {
  background-color: #00C873!important;
}

.tp-caption {
  color: #00C873!important;
}

#Top_bar {
  background-color: #5090df;
}
.rev-btn {
  color: #fff!important;
}
@media (max-width: 767px) {
  .container {
    width: 100%!important;
  }
  .maxyslider {
    padding: 25px;
    padding-top: 40px;
  }
  .flexContainer > div {
    flex:0 50%!important;
    width: 50%!important;
    justify-content: flex-end;
  }
  .tp-caption {
    white-space: inherit!important;
    width: 160px!important;
    margin-top: -24px!important;
    font-size: 19px!important;
    line-height: 28px!important;
  }
  .tp-caption.rev-btn {
    margin-top: 155px!important;
    width: 190%!important;
    display: block!important;
    position: relative!important;
    text-align: center!important;
    padding-top: 9px!important;
    padding-bottom: 9px!important;
  }

}